.results {
    display: none;
}

#result {
    color: black;
    padding-bottom: 2%;
}

.col-md-7 {
    padding: 5%;
}
.robo1 {
    width: 400px;
    padding-top: 30px;
}
#robo2 {
    display: none;
    width: 400px;
}

body {
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    color: #21B8FF;
    background-image: url("http://www.sompaisoscatalans.cat/simage/54/549562/pixel-art-wallpaper.png");
 } 

 h2#init {
     color: black;
 }


 .container {
     background-color: white;
     height: 100vh;
     overflow: auto;
 }

 .jumbotron {
     background-color: rgb(98, 209, 107);
     color: white;
 }

 #formOne {
     padding-right: 30%;
 }

 .btn {
     font-size: 200%;
     background-color: #21B8FF;
     color: white;
 }

 #robotOutput {
    width: 90%;
    margin: auto;
    border: 4px solid #21B8FF;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    background-color: #21B8FF;
    color: white;
    position: relative;
  }

#robotOutput:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #21B8FF;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -23px;
  }